

<div class="panel-body">
    <a href="#">
        <img class="img-responsive img-rounded center-block" src="~/images/user_pic_250x250_4.png" alt="" />
    </a>
    <p><span class="label label-danger normal">Palavnica</span></p>
    <p>
        <small>
            Bulgaria, Plovdiv
        </small>
    </p>
    <p class="girl">
        25  |  <i class="fa fa-female"></i>
    </p>
</div>
