@model IEnumerable<CarsAndDrivers.ViewModels.Home.UserProfileViewModel>

<div class="row text-center">
    @foreach (var driver in Model)
    {
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail dark_gray">
                <a href="#">
                    <img class="img-rounded" src="~/images/user_pic_250x250_1.png" alt="" /> <!-- POst image size is very important, it must be 250x250 for tablet users. -->
                </a>
                <div class="caption">
                    <p><span class="label label-danger normal">@Html.DisplayFor(model => driver.Name)</span></p>
                    <p class="caption_p">
                        <small>
                            @Html.DisplayFor(model => driver.Country)
                        </small>
                    </p>
                    @if (driver.Gender.ToString() == "Female")
                    {
                        <p class="girl">
                            @Html.DisplayFor(model => driver.Age)  | <i class="fa fa-female"></i>
                        </p>
                    }
                    else
                    {
                        <p class="boy">
                            @Html.DisplayFor(model => driver.Age)  | <i class="fa fa-male"></i>
                        </p>
                    }
                </div>
            </div>
        </div>
    }
</div>
