@model IEnumerable<CarsAndDrivers.ViewModels.Home.CarProfileViewModel>

<div class="row text-center">
    @foreach (var car in Model)
    {
        <div class="col-md-3 col-sm-6 hero-feature">
            @Html.DisplayFor(model => car)
        </div>
    }
</div>

