
<div class="row">
    <div class="col-md-1 col-sm-3 col-xs-3">
        <div class="thumbnail">
            <a href="#">
                <img class="img-rounded" src="~/images/avatar.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-1 col-sm-3 col-xs-3">
        <div class="thumbnail">
            <a href="#">
                <img class="img-rounded" src="~/images/avatar.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-1 col-sm-3 col-xs-3">
        <div class="thumbnail">
            <a href="#">
                <img class="img-rounded" src="~/images/avatar.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-1 col-sm-3 col-xs-3">
        <div class="thumbnail">
            <a href="#">
                <img class="img-rounded" src="~/images/avatar.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-1 col-sm-3 col-xs-3">
        <div class="thumbnail">
            <a href="#">
                <img class="img-rounded" src="~/images/avatar.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-1 col-sm-3 col-xs-3">
        <div class="thumbnail">
            <a href="#">
                <img class="img-rounded" src="~/images/avatar.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-1 col-sm-3 col-xs-3">
        <div class="thumbnail">
            <a href="#">
                <img class="img-rounded" src="~/images/avatar.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-1 col-sm-3 col-xs-3">
        <div class="thumbnail">
            <a href="#">
                <img class="img-rounded" src="~/images/avatar.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-1 col-sm-3 col-xs-3">
        <div class="thumbnail">
            <a href="#">
                <img class="img-rounded" src="~/images/avatar.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-1 col-sm-3 col-xs-3">
        <div class="thumbnail">
            <a href="#">
                <img class="img-rounded" src="~/images/avatar.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-1 col-sm-3 col-xs-3">
        <div class="thumbnail">
            <a href="#">
                <img class="img-rounded" src="~/images/avatar.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-1 col-sm-3 col-xs-3">
        <div class="thumbnail">
            <a href="#">
                <img class="img-rounded" src="~/images/avatar.png" alt="" />
            </a>
        </div>
    </div>
</div>
