@using Microsoft.AspNet.Identity
@model IEnumerable<CarsAndDrivers.ViewModels.CreateProfile.UserProfileViewModelStOne>
@{
    ViewBag.Title = "Home Page";
}

<div>
    Hello @User.Identity.GetUserName()
    
    @foreach (var item in Model)
    {
        @item.Name
    }
</div>