
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="intro-text">Ad<small> | Support us</small></h4>
    </div>
    <div class="panel-body">
        <img class="img-responsive center-block" src="/images/ad300x250.jpg" alt="">
    </div>
</div>
<div class="panel panel-default text-center">
    <div class="panel-heading">
        <h4 class="intro-text">Find all Answers here</h4>
    </div>
    <div class="panel-body">
        <a href="#" class="btn btn-default btn-md btn-block">
            Help & F.A.Q
        </a>
    </div>
</div>
