<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="intro-text">Facebook<small> | Follow us</small></h4>
    </div>
    <div class="panel-body">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FOzone.bg&amp;width&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=1522534484653829" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:258px;" allowtransparency="true"></iframe>
        </div>
    </div>
</div>
